Repository R-Type-Epitech-Nantes/R-Type, pull requests merged in 2022-10, with the labels that each got.

#58 57 fix code coverage failure
  .codecov.yml
Labels: GitHub action

#55 20 create a world class
  libs/ECS/CMakeLists.txt
  libs/ECS/Component/CMakeLists.txt
  libs/ECS/Component/Component.hpp
  libs/ECS/Entity/Entity.hpp
  libs/ECS/Resource/CMakeLists.txt
  libs/ECS/Resource/Resource.hpp
  libs/ECS/System/CMakeLists.txt
  libs/ECS/System/System.hpp
  libs/ECS/World/CMakeLists.txt
  libs/ECS/World/World.cpp
  libs/ECS/World/World.hpp
  tests/unit_tests/libs_tests/ECS_tests/CMakeLists.txt
  tests/unit_tests/libs_tests/ECS_tests/Entity_tests/Entity_class_tests.cpp
  tests/unit_tests/libs_tests/ECS_tests/Resource_tests/CMakeLists.txt
  tests/unit_tests/libs_tests/ECS_tests/Resource_tests/Resource_class_tests.cpp
  tests/unit_tests/libs_tests/ECS_tests/World_tests/CMakeLists.txt
  tests/unit_tests/libs_tests/ECS_tests/World_tests/World_class_tests.cpp
Labels: Architecture, E.C.S.

#56 50 implement switch protocol communicator
  .gitignore
  libs/Communicator/Client.cpp
  libs/Communicator/Client.hpp
  libs/Communicator/Communicator.cpp
  libs/Communicator/Communicator.hpp
  libs/Communicator/Receiver.cpp
  libs/Communicator/Receiver.hpp
  libs/Communicator/Sender.cpp
  libs/Communicator/Sender.hpp
  tests/functionnal/Communicator/CMakeLists.txt
  tests/functionnal/Communicator/communicator_switch_tests.cpp
  tests/functionnal/Communicator/sender_tests.cpp
  tests/unit_tests/Communicator_tests/Receiver_tests.cpp
Labels: Network

#61 16 create an ecs
  .github/workflows/CI.yml
  libs/ECS/CMakeLists.txt
  libs/ECS/Component/CMakeLists.txt
  libs/ECS/Component/Component.hpp
  libs/ECS/Entity/Entity.hpp
  libs/ECS/Resource/CMakeLists.txt
  libs/ECS/Resource/Resource.hpp
  libs/ECS/System/CMakeLists.txt
  libs/ECS/System/System.hpp
  libs/ECS/World/CMakeLists.txt
  libs/ECS/World/World.cpp
  libs/ECS/World/World.hpp
  tests/unit_tests/libs_tests/ECS_tests/CMakeLists.txt
  tests/unit_tests/libs_tests/ECS_tests/Entity_tests/Entity_class_tests.cpp
  tests/unit_tests/libs_tests/ECS_tests/Resource_tests/CMakeLists.txt
  tests/unit_tests/libs_tests/ECS_tests/Resource_tests/Resource_class_tests.cpp
  tests/unit_tests/libs_tests/ECS_tests/World_tests/CMakeLists.txt
  tests/unit_tests/libs_tests/ECS_tests/World_tests/World_class_tests.cpp
Labels: E.C.S.

#65 Improve CI action with caching
  .github/workflows/CI.yml
  build.bat
  build.sh
  build_tests.sh
Labels: GitHub action

#64 62 create every component
  libs/CMakeLists.txt
  libs/GameComponents/BouncingComponent.hpp
  libs/GameComponents/BreakthroughtComponent.hpp
  libs/GameComponents/ButtonComponent.hpp
  libs/GameComponents/CMakeLists.txt
  libs/GameComponents/ChargedAttackComponent.hpp
  libs/GameComponents/CollidableComponent.hpp
  libs/GameComponents/ControlableComponent.hpp
  libs/GameComponents/DamageComponent.hpp
  libs/GameComponents/DamageRadiusComponent.hpp
  libs/GameComponents/DeathDamageComponent.hpp
  libs/GameComponents/DestinationComponent.hpp
  libs/GameComponents/EquipableComponent.hpp
  libs/GameComponents/InvinsibleComponent.hpp
  libs/GameComponents/InvisibleComponent.hpp
  libs/GameComponents/LifeComponent.hpp
  libs/GameComponents/LifetimeComponent.hpp
  libs/GameComponents/PatternComponent.hpp
  libs/GameComponents/PositionComponent.hpp
  libs/GameComponents/ShootingFrequencyComponent.hpp
  libs/GameComponents/SizeComponent.hpp
  libs/GameComponents/VelocityComponent.hpp
  libs/GameComponents/WeaknessComponent.hpp
  libs/GameComponents/WeightComponent.hpp
Labels: E.C.S.

#73 66 create transisthor library
  libs/CMakeLists.txt
  libs/ECS/Component/Component.hpp
  libs/GameComponents/BouncingComponent.hpp
  libs/GameComponents/BreakThroughtComponent.hpp
  libs/GameComponents/ButtonComponent.hpp
  libs/GameComponents/CMakeLists.txt
  libs/GameComponents/ChargedAttackComponent.hpp
  libs/GameComponents/CollidableComponent.hpp
  libs/GameComponents/ControlableComponent.hpp
  libs/GameComponents/DamageComponent.hpp
  libs/GameComponents/DamageRadiusComponent.hpp
  libs/GameComponents/DeathDamageComponent.hpp
  libs/GameComponents/DestinationComponent.hpp
  libs/GameComponents/EquipmentComponent.hpp
  libs/GameComponents/InvinsibleComponent.hpp
  libs/GameComponents/InvisibleComponent.hpp
  libs/GameComponents/LifeComponent.hpp
  libs/GameComponents/LifetimeComponent.hpp
  libs/GameComponents/PatternComponent.hpp
  libs/GameComponents/PositionComponent.hpp
  libs/GameComponents/ShootingFrequencyComponent.hpp
  libs/GameComponents/SizeComponent.hpp
  libs/GameComponents/VelocityComponent.hpp
  libs/GameComponents/WeaknessComponent.hpp
  libs/GameComponents/WeightComponent.hpp
  libs/Transisthor/CMakeLists.txt
  libs/Transisthor/Transisthor.cpp
  libs/Transisthor/Transisthor.hpp
  tests/unit_tests/CMakeLists.txt
  tests/unit_tests/Transisthor_tests/CMakeLists.txt
  tests/unit_tests/Transisthor_tests/Transisthor_tests.cpp
Labels: Architecture, E.C.S., Network

#85 67 link communicator ecs transisthor inside server client
  CMakeLists.txt
  Server/CMakeLists.txt
  Server/Room.cpp
  Server/Room.hpp
  Server/Server.cpp
  Server/Server.hpp
  Server/main.cpp
  libs/Communicator/CMakeLists.txt
  libs/Communicator/Communicator.cpp
  libs/Communicator/Communicator.hpp
  libs/ECS/CMakeLists.txt
  libs/ECS/World/World.hpp
  libs/Transisthor/Transisthor.hpp
Labels: Architecture, E.C.S., Network

#90 89 fix build windows in CI
  build.bat
  conanfile.txt
  libs/Communicator/Communicator.cpp
  libs/Communicator/Sender.cpp
  libs/Error/Error.hpp
  libs/GameComponents/CMakeLists.txt
  libs/Transisthor/CMakeLists.txt
  libs/Transisthor/Transisthor.hpp
Labels: BUG

#92 68 implement network relation transisthor
  Client/ClientRoom.cpp
  Client/ClientRoom.hpp
  Server/Room.cpp
  libs/Transisthor/Transisthor.cpp
  libs/Transisthor/Transisthor.hpp
  tests/unit_tests/Transisthor_tests/Transisthor_tests.cpp
Labels: E.C.S., Network

#98 7 Update developper documentation
  .github/workflows/documentation.yml
Labels: GitHub action, Documentation

#100 68 implement network relation transisthor
  Client/ClientRoom.cpp
  Client/ClientRoom.hpp
  Server/Room.cpp
  Server/Room.hpp
  Server/Server.cpp
  Server/Server.hpp
  libs/Communicator/Communicator.cpp
  libs/Communicator/Communicator.hpp
  libs/Transisthor/Transisthor.cpp
  tests/functionnal/Communicator/communicator_send.cpp
Labels: Architecture, E.C.S., Network

#99 7 create developper documentation action on GitHub
  .github/workflows/documentation.yml
  .gitignore
  Doxyfile
  docs/_config.yml
Labels: GitHub action, Documentation

#96 94 Create graphic shared resource
  libs/SFMLResource/CMakeLists.txt
  libs/SFMLResource/RenderWindowResource.hpp
Labels: E.C.S., SFML

#102 101 fix cache on CI
  .github/workflows/CI.yml
  .gitignore
Labels: GitHub action

#104 Rebase SFML library architecture (Interace -> Archive) #103
  libs/SFMLComponents/CMakeLists.txt
Labels: Architecture, SFML

#105 81 argument handling executable
  Client/CMakeLists.txt
  Client/main.cpp
  Server/CMakeLists.txt
  Server/main.cpp
  libs/ArgumentHandler/ArgumentHandler.cpp
  libs/ArgumentHandler/ArgumentHandler.hpp
  libs/ArgumentHandler/CMakeLists.txt
  libs/CMakeLists.txt
  libs/Error/Error.hpp
Labels: Architecture

#91 84 create a library of functions which create all entities
  .gitignore
  libs/CMakeLists.txt
  libs/GameComponents/AlliedProjectileComponent.hpp
  libs/GameComponents/CMakeLists.txt
  libs/GameComponents/EnemyComponent.hpp
  libs/GameComponents/EnemyProjectileComponent.hpp
  libs/GameComponents/LifeTimeComponent.hpp
  libs/GameComponents/ObstacleComponent.hpp
  libs/GameComponents/PlayerComponent.hpp
  libs/GameComponents/ProjectileComponent.hpp
  libs/GameEntityManipulation/CMakeLists.txt
  libs/GameEntityManipulation/CreateEntitiesFunctions/CMakeLists.txt
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateAlliedProjectile.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateEnemy.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateEnemyProjectile.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateObstacle.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreatePlayer.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateProjectile.hpp
  libs/GameSystems/CMakeLists.txt
  libs/GameSystems/MouvementSystem.hpp
  tests/unit_tests/libs_tests/CMakeLists.txt
  tests/unit_tests/libs_tests/ECS_tests/CMakeLists.txt
  tests/unit_tests/libs_tests/ECS_tests/Systems_tests/CMakeLists.txt
  tests/unit_tests/libs_tests/ECS_tests/Systems_tests/Movement_System_tests.cpp
  tests/unit_tests/libs_tests/ECS_tests/World_tests/World_class_tests.cpp
  tests/unit_tests/libs_tests/GameEntityManipulation_tests/CMakeLists.txt
  tests/unit_tests/libs_tests/GameEntityManipulation_tests/CreateEntitiesFunctions_tests/CMakeLists.txt
  tests/unit_tests/libs_tests/GameEntityManipulation_tests/CreateEntitiesFunctions_tests/CreateAlliedProjectile_test.cpp
  tests/unit_tests/libs_tests/GameEntityManipulation_tests/CreateEntitiesFunctions_tests/CreateEnemyProjectile_test.cpp
  tests/unit_tests/libs_tests/GameEntityManipulation_tests/CreateEntitiesFunctions_tests/CreateEnemy_test.cpp
  tests/unit_tests/libs_tests/GameEntityManipulation_tests/CreateEntitiesFunctions_tests/CreateObstacle_test.cpp
  tests/unit_tests/libs_tests/GameEntityManipulation_tests/CreateEntitiesFunctions_tests/CreatePlayer_test.cpp
  tests/unit_tests/libs_tests/GameEntityManipulation_tests/CreateEntitiesFunctions_tests/CreateProjectile_test.cpp
Labels: Documentation, Cmake, Architecture, ECS Game Systems, ECS Game Components, functions to create entities

#110 108 add client id transisthor
  Server/Room.cpp
  libs/Communicator/Client.cpp
  libs/Communicator/Client.hpp
  libs/Communicator/Communicator.cpp
  libs/Communicator/Communicator.hpp
  libs/Transisthor/Transisthor.cpp
  libs/Transisthor/Transisthor.hpp
  tests/unit_tests/Transisthor_tests/Transisthor_tests.cpp
Labels: Architecture, Network

#112 107 implement transisthor for ressource entities
  Server/Room.cpp
  libs/Communicator/Communicator.cpp
  libs/Communicator/Receiver.cpp
  libs/Communicator/Receiver.hpp
  libs/GameComponents/ObstacleComponent.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CMakeLists.txt
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateAlliedProjectile.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateEnemy.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateEnemyProjectile.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateObstacle.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreatePlayer.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateProjectile.hpp
  libs/Transisthor/CMakeLists.txt
  libs/Transisthor/Transisthor.cpp
  libs/Transisthor/Transisthor.hpp
  tests/unit_tests/Transisthor_tests/Transisthor_tests.cpp
  tests/unit_tests/libs_tests/GameEntityManipulation_tests/CreateEntitiesFunctions_tests/CMakeLists.txt
  tests/unit_tests/libs_tests/GameEntityManipulation_tests/CreateEntitiesFunctions_tests/CreateAlliedProjectile_test.cpp
  tests/unit_tests/libs_tests/GameEntityManipulation_tests/CreateEntitiesFunctions_tests/CreateEnemyProjectile_test.cpp
  tests/unit_tests/libs_tests/GameEntityManipulation_tests/CreateEntitiesFunctions_tests/CreateEnemy_test.cpp
  tests/unit_tests/libs_tests/GameEntityManipulation_tests/CreateEntitiesFunctions_tests/CreateObstacle_test.cpp
  tests/unit_tests/libs_tests/GameEntityManipulation_tests/CreateEntitiesFunctions_tests/CreatePlayer_test.cpp
  tests/unit_tests/libs_tests/GameEntityManipulation_tests/CreateEntitiesFunctions_tests/CreateProjectile_test.cpp
Labels: Architecture, E.C.S., Network

#111 80 colidable system
  libs/GameSystems/CMakeLists.txt
  libs/GameSystems/CollidableSystem.cpp
  libs/GameSystems/CollidableSystem.hpp
  tests/unit_tests/libs_tests/ECS_tests/Systems_tests/CMakeLists.txt
  tests/unit_tests/libs_tests/ECS_tests/Systems_tests/Collidable_system_test.cpp
Labels: E.C.S., ECS Game Systems

#113 77 gameclock
  libs/CMakeLists.txt
  libs/GameSharedResources/CMakeLists.txt
  libs/GameSharedResources/GameClock.cpp
  libs/GameSharedResources/GameClock.hpp
  libs/GameSystems/CMakeLists.txt
  libs/GameSystems/MouvementSystem.cpp
  libs/GameSystems/MouvementSystem.hpp
  libs/GameSystems/UpdateClockSystem.cpp
  libs/GameSystems/UpdateClockSystem.hpp
  tests/unit_tests/libs_tests/ECS_tests/Resource_tests/CMakeLists.txt
  tests/unit_tests/libs_tests/ECS_tests/Resource_tests/GameClock_resource_tests.cpp
  tests/unit_tests/libs_tests/ECS_tests/Systems_tests/Movement_System_tests.cpp
Labels: E.C.S., ECS Game Shared Resources

#116 Create Systems, Death Component, Random Shared Ressource and a function to create an Enemy with random pos
  .gitignore
  libs/CMakeLists.txt
  libs/GameComponents/CMakeLists.txt
  libs/GameComponents/DeathComponent.hpp
  libs/GameComponents/LifeTimeComponent.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateEnemy.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateProjectile.hpp
  libs/GameSharedResources/CMakeLists.txt
  libs/GameSharedResources/Random.hpp
  libs/GameSystems/CMakeLists.txt
  libs/GameSystems/CollidableSystem.cpp
  libs/GameSystems/CollidableSystem.hpp
  libs/GameSystems/DeathLifeSystem.hpp
  libs/GameSystems/DeathSystem.hpp
  libs/GameSystems/DecreaseLifeTimeSystem.hpp
  libs/GameSystems/LifeTimeDeathSystem.hpp
  libs/GameSystems/MovementSystem.cpp
  libs/GameSystems/MovementSystem.hpp
  tests/unit_tests/libs_tests/ECS_tests/Resource_tests/CMakeLists.txt
  tests/unit_tests/libs_tests/ECS_tests/Systems_tests/CMakeLists.txt
  tests/unit_tests/libs_tests/ECS_tests/Systems_tests/Collidable_system_test.cpp
  tests/unit_tests/libs_tests/ECS_tests/Systems_tests/Death_Life_System_tests.cpp
  tests/unit_tests/libs_tests/ECS_tests/Systems_tests/Death_System_tests.cpp
  tests/unit_tests/libs_tests/ECS_tests/Systems_tests/Decrease_LifeTime_System_tests.cpp
  tests/unit_tests/libs_tests/ECS_tests/Systems_tests/LifeTimeDeath_tests.cpp
  tests/unit_tests/libs_tests/ECS_tests/Systems_tests/Movement_System_tests.cpp
  tests/unit_tests/libs_tests/GameEntityManipulation_tests/CreateEntitiesFunctions_tests/CMakeLists.txt
  tests/unit_tests/libs_tests/GameEntityManipulation_tests/CreateEntitiesFunctions_tests/CreateEnemyRandom_test.cpp
Labels: Documentation, Cmake, Architecture, E.C.S., ECS Game Systems, ECS Game Shared Resources, ECS Game Components

#120 114 rebase project architecture
  Client/CMakeLists.txt
  Client/main.cpp
  Server/CMakeLists.txt
  cmake/DetectCompiler.cmake
  libs/ArgumentHandler/CMakeLists.txt
  libs/Communicator/CMakeLists.txt
  libs/ECS/CMakeLists.txt
  libs/GameComponents/CMakeLists.txt
  libs/GameComponents/ProjectileComponent.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CMakeLists.txt
  libs/GameSharedResources/CMakeLists.txt
  libs/GameSystems/CMakeLists.txt
  libs/SFMLComponents/CMakeLists.txt
  libs/SFMLResource/CMakeLists.txt
  libs/SFMLResource/RenderWindowResource.hpp
  libs/Transisthor/CMakeLists.txt
  tests/functionnal/Communicator/CMakeLists.txt
  tests/unit_tests/libs_tests/ECS_tests/Entity_tests/CMakeLists.txt
  tests/unit_tests/libs_tests/ECS_tests/Resource_tests/CMakeLists.txt
  tests/unit_tests/libs_tests/ECS_tests/Systems_tests/CMakeLists.txt
  tests/unit_tests/libs_tests/ECS_tests/World_tests/CMakeLists.txt
  tests/unit_tests/libs_tests/GameEntityManipulation_tests/CreateEntitiesFunctions_tests/CMakeLists.txt
  tests/unit_tests/libs_tests/SFML_tests/CMakeLists.txt
Labels: Architecture

#122 95 create graphics system
  libs/CMakeLists.txt
  libs/ECS/World/World.hpp
  libs/SFMLComponents/LayerLvL.hpp
  libs/SFMLResource/RenderWindowResource.hpp
  libs/SFMLSystems/CMakeLists.txt
  libs/SFMLSystems/DrawComponents.cpp
  libs/SFMLSystems/DrawComponents.hpp
  libs/SFMLSystems/InputManagement.cpp
  libs/SFMLSystems/InputManagement.hpp
  libs/Transisthor/Transisthor.hpp
Labels: Documentation, E.C.S., SFML

#121 109 create systems to receive updated entities for serversclients
  Client/CMakeLists.txt
  Client/ClientRoom.cpp
  Client/Systems/CMakeLists.txt
  Server/CMakeLists.txt
  Server/Components/Networkable.hpp
  Server/Room.cpp
  Server/Systems/CMakeLists.txt
  libs/ECS/World/World.hpp
  libs/GameComponents/DeathComponent.hpp
  libs/GameComponents/DestinationComponent.hpp
  libs/GameComponents/EquipmentComponent.hpp
  libs/GameComponents/InvinsibleComponent.hpp
  libs/GameComponents/InvisibleComponent.hpp
  libs/GameComponents/LifeComponent.hpp
  libs/GameComponents/LifeTimeComponent.hpp
  libs/GameComponents/PositionComponent.hpp
  libs/GameComponents/VelocityComponent.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateAlliedProjectile.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateEnemy.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateEnemyProjectile.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateObstacle.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreatePlayer.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateProjectile.hpp
  libs/GameSystems/CollidableSystem.cpp
  libs/GameSystems/DecreaseLifeTimeSystem.hpp
  libs/GameSystems/LifeTimeDeathSystem.hpp
  libs/GameSystems/MovementSystem.cpp
  libs/Transisthor/CMakeLists.txt
  libs/Transisthor/Transisthor.cpp
  libs/Transisthor/TransisthorECSLogic/Both/CMakeLists.txt
  libs/Transisthor/TransisthorECSLogic/Both/Components/CMakeLists.txt
  libs/Transisthor/TransisthorECSLogic/Both/Components/Networkable.hpp
  libs/Transisthor/TransisthorECSLogic/CMakeLists.txt
  libs/Transisthor/TransisthorECSLogic/Client/CMakeLists.txt
  libs/Transisthor/TransisthorECSLogic/Client/Components/CMakeLists.txt
  libs/Transisthor/TransisthorECSLogic/Client/Components/Controllable.hpp
  libs/Transisthor/TransisthorECSLogic/Client/Components/NetworkServer.hpp
  libs/Transisthor/TransisthorECSLogic/Client/Systems/CMakeLists.txt
  libs/Transisthor/TransisthorECSLogic/Client/Systems/SendToServer.cpp
  libs/Transisthor/TransisthorECSLogic/Client/Systems/SendToServer.hpp
  libs/Transisthor/TransisthorECSLogic/Server/CMakeLists.txt
  libs/Transisthor/TransisthorECSLogic/Server/Components/CMakeLists.txt
  libs/Transisthor/TransisthorECSLogic/Server/Components/NetworkClient.hpp
  libs/Transisthor/TransisthorECSLogic/Server/Systems/CMakeLists.txt
  libs/Transisthor/TransisthorECSLogic/Server/Systems/SendToClient.cpp
  libs/Transisthor/TransisthorECSLogic/Server/Systems/SendToClient.hpp
  tests/unit_tests/libs_tests/ECS_tests/Systems_tests/Decrease_LifeTime_System_tests.cpp
  tests/unit_tests/libs_tests/ECS_tests/Systems_tests/LifeTimeDeath_tests.cpp
Labels: Documentation, Architecture, E.C.S., Network, ECS Game Systems, ECS Game Components

#133 Update GraphicsTextureResource #126
  libs/SFMLResource/GraphicsTextureResource.hpp
Labels: Documentation, Cmake, Architecture, E.C.S.

#130 Create textureName component #127
  libs/SFMLComponents/CMakeLists.txt
  libs/SFMLComponents/TextureName.hpp
Labels: E.C.S., SFML

#138 137 rebase entity transfer protocol
  Server/Room.cpp
  libs/Transisthor/Transisthor.cpp
  libs/Transisthor/Transisthor.hpp
  tests/unit_tests/Transisthor_tests/Transisthor_tests.cpp
Labels: Architecture, E.C.S., Network

#143 84 create a library of functions which create all entities
  libs/GameComponents/BackGroundComponent.hpp
  libs/GameComponents/CMakeLists.txt
  libs/GameEntityManipulation/CreateEntitiesFunctions/CMakeLists.txt
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateBackground.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateButton.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateEnemy.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateObstacle.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreatePlayer.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateProjectile.hpp
  tests/unit_tests/libs_tests/GameEntityManipulation_tests/CreateEntitiesFunctions_tests/CMakeLists.txt
  tests/unit_tests/libs_tests/GameEntityManipulation_tests/CreateEntitiesFunctions_tests/CreateBackGround_tests.cpp
  tests/unit_tests/libs_tests/GameEntityManipulation_tests/CreateEntitiesFunctions_tests/CreateButton_tests.cpp
Labels: Documentation, Cmake, Architecture, ECS Game Components, functions to create entities

#139 129 update drawcomponent system
  cmake/DetectCompiler.cmake
  libs/SFMLResource/CMakeLists.txt
  libs/SFMLResource/GraphicsTextureResource.cpp
  libs/SFMLResource/GraphicsTextureResource.hpp
  libs/SFMLSystems/DrawComponents.cpp
  libs/SFMLSystems/DrawComponents.hpp
Labels: E.C.S., SFML

#144 131 create a client system to send a newly created entity
  Client/ClientRoom.cpp
  Client/ClientRoom.hpp
  Server/Room.cpp
  Server/Room.hpp
  libs/Communicator/Receiver.cpp
  libs/Communicator/Receiver.hpp
  libs/GameComponents/AlliedProjectileComponent.hpp
  libs/GameComponents/CMakeLists.txt
  libs/GameComponents/EnemyProjectileComponent.hpp
  libs/GameComponents/NewlyCreated.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateAlliedProjectile.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateEnemy.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateEnemyProjectile.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateObstacle.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreatePlayer.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateProjectile.hpp
  libs/GameSharedResources/Random.hpp
  libs/Transisthor/Transisthor.cpp
  libs/Transisthor/TransisthorECSLogic/Client/Systems/CMakeLists.txt
  libs/Transisthor/TransisthorECSLogic/Client/Systems/SendNewlyCreatedToServer.cpp
  libs/Transisthor/TransisthorECSLogic/Client/Systems/SendNewlyCreatedToServer.hpp
  libs/Transisthor/TransisthorECSLogic/Server/CMakeLists.txt
  libs/Transisthor/TransisthorECSLogic/Server/Resources/CMakeLists.txt
  libs/Transisthor/TransisthorECSLogic/Server/Resources/NetworkableIdGenerator.hpp
  libs/Transisthor/TransisthorECSLogic/Server/Systems/CMakeLists.txt
  libs/Transisthor/TransisthorECSLogic/Server/Systems/SendNewlyCreatedToClients.cpp
  libs/Transisthor/TransisthorECSLogic/Server/Systems/SendNewlyCreatedToClients.hpp
  tests/unit_tests/Transisthor_tests/Transisthor_tests.cpp
  tests/unit_tests/libs_tests/GameEntityManipulation_tests/CreateEntitiesFunctions_tests/CreateAlliedProjectile_test.cpp
  tests/unit_tests/libs_tests/GameEntityManipulation_tests/CreateEntitiesFunctions_tests/CreateEnemyProjectile_test.cpp
Labels: Architecture, E.C.S., Network

#150 Change addComponent by getComponent #139
  libs/Transisthor/Transisthor.cpp
Labels: BUG

#145 93 create all actions function on inputs
  Server/Room.cpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateAlliedProjectile.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateBackground.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateButton.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateEnemy.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateEnemyProjectile.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreatePlayer.hpp
  libs/SFMLSystems/InputManagement.cpp
  libs/SFMLSystems/InputManagement.hpp
  libs/Transisthor/Transisthor.cpp
  libs/Transisthor/Transisthor.hpp
  tests/unit_tests/Transisthor_tests/Transisthor_tests.cpp
  tests/unit_tests/libs_tests/GameEntityManipulation_tests/CreateEntitiesFunctions_tests/CreatePlayer_test.cpp
  tests/unit_tests/libs_tests/SFML_tests/Input_functions_tests.cpp
Labels: Documentation, Architecture, SFML, R-Type Game

#152 Add an entity send order to the client connection #148
  Client/ClientRoom.cpp
  Server/Room.cpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateEnemy.hpp
  libs/GameSystems/DeathSystem.hpp
  tests/unit_tests/libs_tests/ECS_tests/Systems_tests/Death_System_tests.cpp
Labels: E.C.S., Network

#141 140 refacto graphicstexture ressource creation
  libs/SFMLResource/GraphicsTextureResource.cpp
  libs/SFMLResource/GraphicsTextureResource.hpp
Labels: E.C.S., SFML

#154 153 make ennemies go random in a delimited area
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateEnemy.hpp
  libs/GameSystems/CMakeLists.txt
  libs/GameSystems/EnemiesGoRandom.cpp
  libs/GameSystems/EnemiesGoRandom.hpp
  tests/unit_tests/Transisthor_tests/Transisthor_tests.cpp
  tests/unit_tests/libs_tests/ECS_tests/Systems_tests/CMakeLists.txt
  tests/unit_tests/libs_tests/ECS_tests/Systems_tests/EnemyGoRandom_System_test.cpp
Labels: R-Type Game

#159 Add SfRectangleFollowEntitySystem #158
  libs/SFMLSystems/CMakeLists.txt
  libs/SFMLSystems/SfRectangleFollowEntitySystem.cpp
  libs/SFMLSystems/SfRectangleFollowEntitySystem.hpp
Labels: Cmake, Architecture, SFML

#160 156 make ennemies shoot based on a shooting frequency
  libs/GameComponents/ShootingFrequencyComponent.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateEnemy.hpp
  libs/GameSystems/CMakeLists.txt
  libs/GameSystems/EnemyShootSystem.cpp
  libs/GameSystems/EnemyShootSystem.hpp
  tests/unit_tests/libs_tests/ECS_tests/Systems_tests/CMakeLists.txt
  tests/unit_tests/libs_tests/ECS_tests/Systems_tests/ShootEnemy_system_test.cpp
Labels: R-Type Game

#161 84 link connexion protocol with display system
  Client/ClientRoom.cpp
  Server/CMakeLists.txt
  Server/Room.cpp
  libs/GameComponents/PositionComponent.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateAlliedProjectile.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateEnemy.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateEnemyProjectile.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateObstacle.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreatePlayer.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateProjectile.hpp
  libs/GameSystems/EnemiesGoRandom.hpp
  libs/GameSystems/MovementSystem.cpp
  libs/SFMLComponents/ActionQueueComponent.hpp
  libs/SFMLComponents/GraphicsRectangleComponent.cpp
  libs/SFMLComponents/KeyboardInputComponent.hpp
  libs/SFMLComponents/LayerLvL.hpp
  libs/SFMLComponents/MouseInputComponent.hpp
  libs/SFMLResource/GraphicsFontResource.hpp
  libs/SFMLResource/GraphicsTextureResource.hpp
  libs/SFMLResource/RenderWindowResource.hpp
  libs/SFMLSystems/DrawComponents.cpp
  libs/SFMLSystems/InputManagement.cpp
  libs/SFMLSystems/InputManagement.hpp
  libs/SFMLSystems/SfRectangleFollowEntitySystem.cpp
  libs/SFMLSystems/SfRectangleFollowEntitySystem.hpp
  libs/Transisthor/Transisthor.cpp
  libs/Transisthor/TransisthorECSLogic/Client/Components/Controllable.hpp
  libs/Transisthor/TransisthorECSLogic/Client/Systems/SendNewlyCreatedToServer.cpp
  libs/Transisthor/TransisthorECSLogic/Client/Systems/SendNewlyCreatedToServer.hpp
  libs/Transisthor/TransisthorECSLogic/Client/Systems/SendToServer.hpp
  libs/Transisthor/TransisthorECSLogic/Server/Systems/SendNewlyCreatedToClients.cpp
  libs/Transisthor/TransisthorECSLogic/Server/Systems/SendNewlyCreatedToClients.hpp
  libs/Transisthor/TransisthorECSLogic/Server/Systems/SendToClient.hpp
  tests/unit_tests/Transisthor_tests/Transisthor_tests.cpp
  tests/unit_tests/libs_tests/ECS_tests/Systems_tests/Movement_System_tests.cpp
Labels: Architecture, E.C.S., Network, SFML

#163 162 first delivery hotfix
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateAlliedProjectile.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateEnemyProjectile.hpp
  libs/GameSystems/EnemiesGoRandom.cpp
  tests/unit_tests/libs_tests/ECS_tests/Systems_tests/EnemyGoRandom_System_test.cpp
Labels: E.C.S., BUG, R-Type Game

#166 164 add crontrolable player transfer
  Server/Room.cpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreatePlayer.hpp
  libs/SFMLSystems/InputManagement.cpp
  libs/Transisthor/Transisthor.cpp
  libs/Transisthor/Transisthor.hpp
  libs/Transisthor/TransisthorECSLogic/Server/Systems/SendNewlyCreatedToClients.cpp
  tests/unit_tests/Transisthor_tests/Transisthor_tests.cpp
Labels: Architecture, E.C.S., Network

#168 157 link inputs and actions
  Client/ClientRoom.cpp
  libs/SFMLComponents/ActionQueueComponent.hpp
  libs/SFMLComponents/ControllerButtonInputComponent.hpp
  libs/SFMLComponents/ControllerJoystickInputComponent.hpp
  libs/SFMLComponents/KeyboardInputComponent.hpp
  libs/SFMLComponents/MouseInputComponent.hpp
  libs/SFMLSystems/InputManagement.cpp
Labels: R-Type Game

#167 165 add every sprite given by epitech
  Client/ClientRoom.cpp
  Client/ClientRoom.hpp
  Server/Room.cpp
  assets/EpiSprite/BasicAlliedProjectileSpriteSheet.gif
  assets/EpiSprite/BasicEnemyProjectileSpriteSheet.gif
  assets/EpiSprite/BasicEnemySpriteSheet.gif
  assets/EpiSprite/BasicPlayerSpriteSheet.gif
  assets/EpiSprite/r-typesheet1.gif
  assets/EpiSprite/r-typesheet10.gif
  assets/EpiSprite/r-typesheet11.gif
  assets/EpiSprite/r-typesheet12.gif
  assets/EpiSprite/r-typesheet13.gif
  assets/EpiSprite/r-typesheet14.gif
  assets/EpiSprite/r-typesheet16.gif
  assets/EpiSprite/r-typesheet17.gif
  assets/EpiSprite/r-typesheet18.gif
  assets/EpiSprite/r-typesheet19.gif
  assets/EpiSprite/r-typesheet2.gif
  assets/EpiSprite/r-typesheet20.gif
  assets/EpiSprite/r-typesheet21.gif
  assets/EpiSprite/r-typesheet22.gif
  assets/EpiSprite/r-typesheet23.gif
  assets/EpiSprite/r-typesheet24.gif
  assets/EpiSprite/r-typesheet25.gif
  assets/EpiSprite/r-typesheet26.gif
  assets/EpiSprite/r-typesheet27.gif
  assets/EpiSprite/r-typesheet28.gif
  assets/EpiSprite/r-typesheet29.gif
  assets/EpiSprite/r-typesheet30.gif
  assets/EpiSprite/r-typesheet31.gif
  assets/EpiSprite/r-typesheet32.gif
  assets/EpiSprite/r-typesheet33.gif
  assets/EpiSprite/r-typesheet34.gif
  assets/EpiSprite/r-typesheet35.gif
  assets/EpiSprite/r-typesheet36.gif
  assets/EpiSprite/r-typesheet37.gif
  assets/EpiSprite/r-typesheet38.gif
  assets/EpiSprite/r-typesheet39.gif
  assets/EpiSprite/r-typesheet40.gif
  assets/EpiSprite/r-typesheet41.gif
  assets/EpiSprite/r-typesheet42.gif
  assets/EpiSprite/r-typesheet43.gif
  assets/EpiSprite/r-typesheet44.gif
  assets/EpiSprite/r-typesheet7.gif
  assets/EpiSprite/r-typesheet9.gif
  assets/fonts/arial.ttf
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateEnemy.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateEnemyProjectile.hpp
  libs/GameSystems/EnemyShootSystem.cpp
  libs/SFMLComponents/TextureName.hpp
  libs/SFMLResource/GraphicsTextureResource.hpp
  libs/SFMLSystems/DrawComponents.cpp
  libs/Transisthor/Transisthor.cpp
  libs/Transisthor/TransisthorECSLogic/Server/Systems/SendNewlyCreatedToClients.cpp
  tests/unit_tests/Transisthor_tests/Transisthor_tests.cpp
  tests/unit_tests/libs_tests/ECS_tests/Systems_tests/ShootEnemy_system_test.cpp
  tests/unit_tests/libs_tests/GameEntityManipulation_tests/CreateEntitiesFunctions_tests/CreateEnemyProjectile_test.cpp
Labels: Architecture, E.C.S., R-Type Game

#170 Slow down sending systems #169
  Server/Room.cpp
  libs/Transisthor/TransisthorECSLogic/Both/CMakeLists.txt
  libs/Transisthor/TransisthorECSLogic/Both/Resources/CMakeLists.txt
  libs/Transisthor/TransisthorECSLogic/Both/Resources/SendingFrequency.cpp
  libs/Transisthor/TransisthorECSLogic/Both/Resources/SendingFrequency.hpp
  libs/Transisthor/TransisthorECSLogic/Server/Systems/SendNewlyCreatedToClients.cpp
  libs/Transisthor/TransisthorECSLogic/Server/Systems/SendToClient.cpp
Labels: E.C.S., Network

#173 171 fix newly created bug
  Server/Room.cpp
  libs/GameComponents/NewlyCreated.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateAlliedProjectile.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateEnemy.hpp
  libs/GameSystems/EnemiesGoRandom.cpp
  libs/GameSystems/MovementSystem.cpp
  libs/SFMLSystems/InputManagement.cpp
  libs/Transisthor/Transisthor.cpp
  libs/Transisthor/TransisthorECSLogic/Client/Systems/SendNewlyCreatedToServer.cpp
  libs/Transisthor/TransisthorECSLogic/Server/Systems/SendNewlyCreatedToClients.cpp
  libs/Transisthor/TransisthorECSLogic/Server/Systems/SendToClient.cpp
Labels: BUG

#175 172 add parallax background
  Client/ClientRoom.cpp
  Client/ClientRoom.hpp
  Server/Room.cpp
  assets/Backgrounds/back.png
  assets/Backgrounds/far.png
  assets/Backgrounds/middle.png
  libs/Communicator/Receiver.cpp
  libs/GameComponents/DeathComponent.hpp
  libs/GameComponents/DestinationComponent.hpp
  libs/GameComponents/EquipmentComponent.hpp
  libs/GameComponents/InvinsibleComponent.hpp
  libs/GameComponents/InvisibleComponent.hpp
  libs/GameComponents/LifeComponent.hpp
  libs/GameComponents/PositionComponent.hpp
  libs/GameComponents/VelocityComponent.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateAlliedProjectile.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateEnemy.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateEnemyProjectile.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreatePlayer.hpp
  libs/GameSharedResources/GameClock.cpp
  libs/GameSharedResources/GameClock.hpp
  libs/GameSystems/DecreaseLifeTimeSystem.hpp
  libs/GameSystems/EnemiesGoRandom.cpp
  libs/GameSystems/LifeTimeDeathSystem.hpp
  libs/GameSystems/MovementSystem.cpp
  libs/GameSystems/UpdateClockSystem.cpp
  libs/SFMLComponents/CMakeLists.txt
  libs/SFMLComponents/LayerLvL.hpp
  libs/SFMLComponents/ParallaxComponent.hpp
  libs/SFMLSystems/CMakeLists.txt
  libs/SFMLSystems/DrawComponents.cpp
  libs/SFMLSystems/DrawComponents.hpp
  libs/SFMLSystems/InputManagement.cpp
  libs/SFMLSystems/ParallaxSystem.cpp
  libs/SFMLSystems/ParallaxSystem.hpp
  libs/Transisthor/TransisthorECSLogic/Client/Systems/SendToServer.cpp
  libs/Transisthor/TransisthorECSLogic/Client/Systems/SendToServer.hpp
  libs/Transisthor/TransisthorECSLogic/Server/Systems/SendNewlyCreatedToClients.cpp
  libs/Transisthor/TransisthorECSLogic/Server/Systems/SendToClient.hpp
  tests/unit_tests/libs_tests/SFML_tests/CMakeLists.txt
  tests/unit_tests/libs_tests/SFML_tests/ControllerInputComponentTests.cpp
  tests/unit_tests/libs_tests/SFML_tests/KeyboardInputComponentTests.cpp
  tests/unit_tests/libs_tests/SFML_tests/MouseInputComponentTests.cpp
Labels: SFML, ECS Game Systems, R-Type Game

#177 Check for enemy and player #176
  libs/GameSystems/DeathSystem.hpp
  libs/GameSystems/EnemiesGoRandom.cpp
  libs/GameSystems/MovementSystem.cpp
Labels: Architecture, E.C.S., BUG, R-Type Game

#179 178 fix unit testing malfunction
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateProjectile.hpp
  tests/unit_tests/libs_tests/ECS_tests/Resource_tests/GameClock_resource_tests.cpp
  tests/unit_tests/libs_tests/ECS_tests/Systems_tests/Decrease_LifeTime_System_tests.cpp
  tests/unit_tests/libs_tests/ECS_tests/Systems_tests/EnemyGoRandom_System_test.cpp
  tests/unit_tests/libs_tests/ECS_tests/Systems_tests/Movement_System_tests.cpp
  tests/unit_tests/libs_tests/ECS_tests/Systems_tests/ShootEnemy_system_test.cpp
Labels: BUG

#185 184 Run Unit Test on pull request on CI
  .github/workflows/CI.yml
Labels: GitHub action

#187 186 upload and use cache on CI
  .github/workflows/CI.yml
  conanfile.txt
Labels: GitHub action

#194 193 fix coverage job on ci
  .github/workflows/CI.yml
  build_tests.sh
Labels: GitHub action

#191 190 merge sfml libs to a graphic lib
  Client/CMakeLists.txt
  Client/ClientRoom.cpp
  libs/CMakeLists.txt
  libs/GameComponents/CMakeLists.txt
  libs/GameComponents/LayerLvL.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateAlliedProjectile.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateEnemy.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateEnemyProjectile.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateObstacle.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreatePlayer.hpp
  libs/GameEntityManipulation/CreateEntitiesFunctions/CreateProjectile.hpp
  libs/GraphicECS/CMakeLists.txt
  libs/GraphicECS/SFML/CMakeLists.txt
  libs/GraphicECS/SFML/Components/ActionQueueComponent.hpp
  libs/GraphicECS/SFML/Components/AllowControllerComponent.hpp
  libs/GraphicECS/SFML/Components/AllowMouseAndKeyboardComponent.hpp
  libs/GraphicECS/SFML/Components/CMakeLists.txt
  libs/GraphicECS/SFML/Components/ControllerButtonInputComponent.hpp
  libs/GraphicECS/SFML/Components/ControllerJoystickInputComponent.hpp
  libs/GraphicECS/SFML/Components/ECSActions.hpp
  libs/GraphicECS/SFML/Components/GraphicsRectangleComponent.cpp
  libs/GraphicECS/SFML/Components/GraphicsRectangleComponent.hpp
  libs/GraphicECS/SFML/Components/GraphicsTextComponent.cpp
  libs/GraphicECS/SFML/Components/GraphicsTextComponent.hpp
  libs/GraphicECS/SFML/Components/KeyboardInputComponent.hpp
  libs/GraphicECS/SFML/Components/MouseInputComponent.hpp
  libs/GraphicECS/SFML/Components/ParallaxComponent.hpp
  libs/GraphicECS/SFML/Components/TextureName.hpp
  libs/GraphicECS/SFML/Resources/CMakeLists.txt
  libs/GraphicECS/SFML/Resources/GraphicsFontResource.hpp
  libs/GraphicECS/SFML/Resources/GraphicsTextureResource.cpp
  libs/GraphicECS/SFML/Resources/GraphicsTextureResource.hpp
  libs/GraphicECS/SFML/Resources/RenderWindowResource.hpp
  libs/GraphicECS/SFML/Systems/CMakeLists.txt
  libs/GraphicECS/SFML/Systems/DrawComponents.cpp
  libs/GraphicECS/SFML/Systems/DrawComponents.hpp
  libs/GraphicECS/SFML/Systems/InputManagement.cpp
  libs/GraphicECS/SFML/Systems/InputManagement.hpp
  libs/GraphicECS/SFML/Systems/ParallaxSystem.cpp
  libs/GraphicECS/SFML/Systems/ParallaxSystem.hpp
  libs/GraphicECS/SFML/Systems/SfRectangleFollowEntitySystem.cpp
  libs/GraphicECS/SFML/Systems/SfRectangleFollowEntitySystem.hpp
  libs/SFMLComponents/CMakeLists.txt
  libs/SFMLResource/CMakeLists.txt
  libs/SFMLSystems/CMakeLists.txt
  tests/unit_tests/libs_tests/ECS_tests/Systems_tests/Death_Life_System_tests.cpp
  tests/unit_tests/libs_tests/SFML_tests/CMakeLists.txt
Labels: Cmake, Architecture, SFML

#199 192 update the CONTRIBUTING.md
  CONTRIBUTING.md
Labels: GitHub Repository

#197 180 kill enemy when they hit a projectile
  Client/ClientRoom.cpp
  Client/ClientRoom.hpp
  Server/Room.cpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreateAlliedProjectile.hpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreateEnemyProjectile.hpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreateObstacle.hpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreatePlayer.hpp
  libs/R-TypeLogic/Global/Systems/DeathSystem.hpp
  libs/R-TypeLogic/Server/Systems/CollidableSystem.cpp
  libs/R-TypeLogic/Server/Systems/DeathLifeSystem.hpp
  libs/R-TypeLogic/Server/Systems/LifeTimeDeathSystem.hpp
  tests/unit_tests/libs_tests/ECS_tests/Systems_tests/Death_System_tests.cpp
Labels: Network, ECS Game Systems, BUG

#202 196 refacto create entities functions
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CMakeLists.txt
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreateAlliedProjectile.cpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreateAlliedProjectile.hpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreateBackground.cpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreateBackground.hpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreateButton.cpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreateButton.hpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreateEnemy.cpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreateEnemy.hpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreateEnemyProjectile.cpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreateEnemyProjectile.hpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreateObstacle.cpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreateObstacle.hpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreatePlayer.cpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreatePlayer.hpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreateProjectile.cpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreateProjectile.hpp
  libs/R-TypeLogic/Global/CMakeLists.txt
  libs/Transisthor/CMakeLists.txt
Labels: Cmake, Architecture

#208 198 clean memory utilisation
  Server/Room.cpp
  libs/Communicator/Sender.cpp
  libs/Transisthor/Transisthor.cpp
  libs/Transisthor/TransisthorECSLogic/Client/Systems/SendNewlyCreatedToServer.cpp
  libs/Transisthor/TransisthorECSLogic/Client/Systems/SendToServer.hpp
  libs/Transisthor/TransisthorECSLogic/Server/Systems/SendNewlyCreatedToClients.cpp
  libs/Transisthor/TransisthorECSLogic/Server/Systems/SendToClient.hpp
Labels: BUG

#215 214 update actions/checkout version
  .github/workflows/CI.yml
Labels: GitHub action

#213 209 add a differentiation system for player identification
  Server/Room.cpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreatePlayer.cpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreatePlayer.hpp
  libs/R-TypeLogic/Global/Components/PlayerComponent.hpp
  libs/Transisthor/Transisthor.cpp
  libs/Transisthor/Transisthor.hpp
  libs/Transisthor/TransisthorECSLogic/Server/Systems/SendNewlyCreatedToClients.cpp
  tests/unit_tests/Transisthor_tests/Transisthor_tests.cpp
  tests/unit_tests/libs_tests/GameEntityManipulation_tests/CreateEntitiesFunctions_tests/CreatePlayer_test.cpp
Labels: Network, ECS Game Components

#217 216 update coverage job on CI
  .github/workflows/CI.yml
  .gitignore
  build_tests.sh
Labels: GitHub action

#210 189 duplicated inputs
  Client/ClientRoom.cpp
  libs/GraphicECS/SFML/Systems/InputManagement.cpp
  libs/GraphicECS/SFML/Systems/InputManagement.hpp
  tests/unit_tests/libs_tests/SFML_tests/CMakeLists.txt
  tests/unit_tests/libs_tests/SFML_tests/Systems/CMakeLists.txt
  tests/unit_tests/libs_tests/SFML_tests/Systems/InputManagement_tests.cpp
Labels: SFML, BUG

#226 146 implement deconnexion protocol
  Client/ClientRoom.cpp
  Client/ClientRoom.hpp
  Server/Room.cpp
  Server/Room.hpp
  libs/Communicator/Receiver.cpp
  libs/Communicator/Receiver.hpp
  libs/R-TypeLogic/Global/Components/CMakeLists.txt
  libs/R-TypeLogic/Global/Components/DeathComponent.hpp
  libs/R-TypeLogic/Global/Components/DestinationComponent.hpp
  libs/R-TypeLogic/Global/Components/DisconnectableComponent.hpp
  libs/R-TypeLogic/Global/Components/EquipmentComponent.hpp
  libs/R-TypeLogic/Global/Components/InvinsibleComponent.hpp
  libs/R-TypeLogic/Global/Components/InvisibleComponent.hpp
  libs/R-TypeLogic/Global/Components/LifeComponent.hpp
  libs/R-TypeLogic/Global/Components/PositionComponent.hpp
  libs/R-TypeLogic/Global/Components/VelocityComponent.hpp
  libs/R-TypeLogic/Server/Systems/CMakeLists.txt
  libs/R-TypeLogic/Server/Systems/DisconnectableSystem.cpp
  libs/R-TypeLogic/Server/Systems/DisconnectableSystem.hpp
  libs/Transisthor/Transisthor.hpp
  libs/Transisthor/TransisthorECSLogic/Server/Systems/SendToClient.hpp
Labels: Network

#222 218 Create an exit button
  Client/ButtonAction.cpp
  Client/ButtonAction.hpp
  Client/CMakeLists.txt
  Client/ClientRoom.cpp
  Client/ClientRoom.hpp
  libs/GraphicECS/SFML/CMakeLists.txt
  libs/GraphicECS/SFML/Components/ActionQueueComponent.hpp
  libs/GraphicECS/SFML/Components/MouseInputComponent.hpp
  libs/GraphicECS/SFML/Resources/GraphicsTextureResource.hpp
  libs/GraphicECS/SFML/Systems/DrawComponents.cpp
  libs/GraphicECS/SFML/Systems/InputManagement.cpp
  libs/GraphicECS/SFML/Systems/InputManagement.hpp
  libs/R-TypeLogic/EntityManipulation/ButtonManipulation/CMakeLists.txt
  libs/R-TypeLogic/EntityManipulation/ButtonManipulation/Components/ActionName.hpp
  libs/R-TypeLogic/EntityManipulation/ButtonManipulation/SharedResources/ButtonActionMap.cpp
  libs/R-TypeLogic/EntityManipulation/ButtonManipulation/SharedResources/ButtonActionMap.hpp
  libs/R-TypeLogic/EntityManipulation/CMakeLists.txt
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CMakeLists.txt
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreateButton.cpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreateButton.hpp
  libs/R-TypeLogic/Global/Components/ButtonComponent.hpp
  libs/R-TypeLogic/Global/Components/LayerLvL.hpp
  tests/unit_tests/libs_tests/GameEntityManipulation_tests/CreateEntitiesFunctions_tests/CMakeLists.txt
  tests/unit_tests/libs_tests/GameEntityManipulation_tests/CreateEntitiesFunctions_tests/CreateButton_tests.cpp
Labels: SFML, ECS Game Shared Resources, R-Type Game, Game Design

#234 Make entities usable in threads
  libs/ECS/Entity/Entity.hpp
Labels: Architecture, E.C.S.

#231 223 create animation component
  libs/GraphicECS/SFML/Components/AnimationComponent.hpp
  libs/GraphicECS/SFML/Components/CMakeLists.txt
  tests/unit_tests/libs_tests/SFML_tests/CMakeLists.txt
  tests/unit_tests/libs_tests/SFML_tests/Components/AnimationComponent_tests.cpp
  tests/unit_tests/libs_tests/SFML_tests/Components/CMakeLists.txt
Labels: Documentation, E.C.S., SFML

#235 227 upgrade deconnection protocol
  Client/ClientRoom.cpp
  Client/ClientRoom.hpp
  Server/Room.cpp
  Server/Room.hpp
  Server/Server.cpp
  libs/GraphicECS/SFML/Systems/InputManagement.cpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreatePlayer.cpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreatePlayer.hpp
  libs/R-TypeLogic/Global/Systems/MovementSystem.cpp
  libs/R-TypeLogic/Global/Systems/UpdateClockSystem.cpp
  libs/R-TypeLogic/Global/Systems/UpdateClockSystem.hpp
  libs/R-TypeLogic/Server/Components/AfkFrequencyComponent.hpp
  libs/R-TypeLogic/Server/Components/CMakeLists.txt
  libs/R-TypeLogic/Server/Systems/CMakeLists.txt
  libs/R-TypeLogic/Server/Systems/DeathLifeSystem.hpp
  libs/R-TypeLogic/Server/Systems/EnemyShootSystem.cpp
  libs/R-TypeLogic/Server/Systems/RemoveAfkSystem.cpp
  libs/R-TypeLogic/Server/Systems/RemoveAfkSystem.hpp
  libs/Transisthor/Transisthor.cpp
  tests/unit_tests/libs_tests/ECS_tests/Systems_tests/EnemyGoRandom_System_test.cpp
  tests/unit_tests/libs_tests/ECS_tests/Systems_tests/Movement_System_tests.cpp
Labels: Network, ECS Game Systems

#245 244 fix sfml component namespace
  Client/ClientRoom.cpp
  libs/GraphicECS/SFML/Components/ActionQueueComponent.hpp
  libs/GraphicECS/SFML/Components/AllowControllerComponent.hpp
  libs/GraphicECS/SFML/Components/AllowMouseAndKeyboardComponent.hpp
  libs/GraphicECS/SFML/Components/AnimationComponent.hpp
  libs/GraphicECS/SFML/Components/ControllerButtonInputComponent.hpp
  libs/GraphicECS/SFML/Components/ControllerJoystickInputComponent.hpp
  libs/GraphicECS/SFML/Components/ECSActions.hpp
  libs/GraphicECS/SFML/Components/GraphicsRectangleComponent.cpp
  libs/GraphicECS/SFML/Components/GraphicsRectangleComponent.hpp
  libs/GraphicECS/SFML/Components/GraphicsTextComponent.cpp
  libs/GraphicECS/SFML/Components/GraphicsTextComponent.hpp
  libs/GraphicECS/SFML/Components/KeyboardInputComponent.hpp
  libs/GraphicECS/SFML/Components/MouseInputComponent.hpp
  libs/GraphicECS/SFML/Components/ParallaxComponent.hpp
  libs/GraphicECS/SFML/Components/TextureName.hpp
  libs/GraphicECS/SFML/Systems/DrawComponents.cpp
  libs/GraphicECS/SFML/Systems/InputManagement.cpp
  libs/GraphicECS/SFML/Systems/ParallaxSystem.cpp
  libs/GraphicECS/SFML/Systems/SfRectangleFollowEntitySystem.cpp
  tests/unit_tests/libs_tests/SFML_tests/AllowControllerComponentTests.cpp
  tests/unit_tests/libs_tests/SFML_tests/AllowMouseAndKeyboardComponentTests.cpp
  tests/unit_tests/libs_tests/SFML_tests/Components/AnimationComponent_tests.cpp
  tests/unit_tests/libs_tests/SFML_tests/GraphicsRectangleComponentTests.cpp
  tests/unit_tests/libs_tests/SFML_tests/GraphicsTextComponentTests.cpp
  tests/unit_tests/libs_tests/SFML_tests/Input_functions_tests.cpp
  tests/unit_tests/libs_tests/SFML_tests/Systems/InputManagement_tests.cpp
Labels: Architecture, SFML

#247 246 fix sfml resources namespace
  Client/ButtonAction.cpp
  libs/GraphicECS/SFML/Components/TextureName.hpp
  libs/GraphicECS/SFML/Resources/GraphicsFontResource.hpp
  libs/GraphicECS/SFML/Resources/GraphicsTextureResource.cpp
  libs/GraphicECS/SFML/Resources/GraphicsTextureResource.hpp
  libs/GraphicECS/SFML/Resources/RenderWindowResource.hpp
  libs/GraphicECS/SFML/Systems/DrawComponents.cpp
  libs/GraphicECS/SFML/Systems/InputManagement.cpp
Labels: Architecture, SFML

#249 248 fix sfml systems namespace
  Client/ClientRoom.cpp
  libs/GraphicECS/SFML/Systems/DrawComponents.cpp
  libs/GraphicECS/SFML/Systems/DrawComponents.hpp
  libs/GraphicECS/SFML/Systems/InputManagement.cpp
  libs/GraphicECS/SFML/Systems/InputManagement.hpp
  libs/GraphicECS/SFML/Systems/ParallaxSystem.cpp
  libs/GraphicECS/SFML/Systems/ParallaxSystem.hpp
  libs/GraphicECS/SFML/Systems/SfRectangleFollowEntitySystem.cpp
  libs/GraphicECS/SFML/Systems/SfRectangleFollowEntitySystem.hpp
  tests/unit_tests/libs_tests/SFML_tests/Input_functions_tests.cpp
  tests/unit_tests/libs_tests/SFML_tests/Systems/InputManagement_tests.cpp
Labels: Architecture, SFML

#251 Fix ecs::World::containsSystem function
  libs/ECS/World/World.hpp
Labels: E.C.S., ECS Game Systems

#239 Make shared resources usable in threads
  libs/ECS/Resource/Resource.hpp
Labels: Architecture, E.C.S., ECS Game Shared Resources

#254 Lock the shared resources when they are used
  Client/ButtonAction.cpp
  Client/ClientRoom.cpp
  Server/Room.cpp
  libs/ECS/Resource/Resource.hpp
  libs/GraphicECS/SFML/Systems/DrawComponents.cpp
  libs/GraphicECS/SFML/Systems/InputManagement.cpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreateEnemy.cpp
  libs/R-TypeLogic/Global/Systems/MovementSystem.cpp
  libs/R-TypeLogic/Global/Systems/UpdateClockSystem.cpp
  libs/R-TypeLogic/Server/Systems/DecreaseLifeTimeSystem.hpp
  libs/R-TypeLogic/Server/Systems/EnemiesGoRandom.cpp
  libs/R-TypeLogic/Server/Systems/EnemyShootSystem.cpp
  libs/Transisthor/Transisthor.cpp
Labels: Architecture, E.C.S., ECS Game Shared Resources

#257 256 fix boost dependency with zlib
  conanfile.txt
Labels: BUG

#252 Lock the entities when they are used
  Server/Room.cpp
  libs/ECS/World/World.hpp
  libs/GraphicECS/SFML/Systems/DrawComponents.cpp
  libs/GraphicECS/SFML/Systems/InputManagement.cpp
  libs/GraphicECS/SFML/Systems/ParallaxSystem.cpp
  libs/GraphicECS/SFML/Systems/SfRectangleFollowEntitySystem.cpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreateAlliedProjectile.cpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreateBackground.cpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreateButton.cpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreateEnemy.cpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreateEnemyProjectile.cpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreateObstacle.cpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreatePlayer.cpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreateProjectile.cpp
  libs/R-TypeLogic/Global/Systems/DeathSystem.hpp
  libs/R-TypeLogic/Global/Systems/MovementSystem.cpp
  libs/R-TypeLogic/Global/Systems/UpdateClockSystem.cpp
  libs/R-TypeLogic/Server/Systems/CollidableSystem.cpp
  libs/R-TypeLogic/Server/Systems/DeathLifeSystem.hpp
  libs/R-TypeLogic/Server/Systems/DecreaseLifeTimeSystem.hpp
  libs/R-TypeLogic/Server/Systems/DisconnectableSystem.cpp
  libs/R-TypeLogic/Server/Systems/EnemiesGoRandom.cpp
  libs/R-TypeLogic/Server/Systems/EnemyShootSystem.cpp
  libs/R-TypeLogic/Server/Systems/LifeTimeDeathSystem.hpp
  libs/Transisthor/Transisthor.cpp
  libs/Transisthor/TransisthorECSLogic/Client/Systems/SendNewlyCreatedToServer.cpp
  libs/Transisthor/TransisthorECSLogic/Client/Systems/SendToServer.cpp
  libs/Transisthor/TransisthorECSLogic/Server/Systems/SendNewlyCreatedToClients.cpp
  libs/Transisthor/TransisthorECSLogic/Server/Systems/SendToClient.cpp
Labels: Architecture, E.C.S., ECS Game Systems

#243 242 create animation system
  libs/GraphicECS/SFML/Components/AnimationComponent.hpp
  libs/GraphicECS/SFML/Components/AnimationFrequencyComponent.hpp
  libs/GraphicECS/SFML/Systems/AnimationSystem.cpp
  libs/GraphicECS/SFML/Systems/AnimationSystem.hpp
  libs/GraphicECS/SFML/Systems/CMakeLists.txt
  libs/R-TypeLogic/Global/Systems/UpdateClockSystem.cpp
Labels: SFML

#262 220 add an options menu
  Client/ButtonAction.cpp
  Client/ButtonAction.hpp
  Client/ClientRoom.cpp
  libs/GraphicECS/SFML/Components/GraphicsTextComponent.cpp
  libs/GraphicECS/SFML/Components/GraphicsTextComponent.hpp
  libs/GraphicECS/SFML/Resources/GraphicsTextureResource.hpp
  libs/GraphicECS/SFML/Systems/DrawComponents.cpp
  libs/GraphicECS/SFML/Systems/DrawComponents.hpp
  libs/GraphicECS/SFML/Systems/InputManagement.cpp
  libs/R-TypeLogic/EntityManipulation/ButtonManipulation/CMakeLists.txt
  libs/R-TypeLogic/EntityManipulation/ButtonManipulation/Components/DisplayState.hpp
  libs/R-TypeLogic/EntityManipulation/ButtonManipulation/SharedResources/ButtonActionMap.hpp
  libs/R-TypeLogic/EntityManipulation/ButtonManipulation/SharedResources/MenuStates.hpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreateButton.cpp
  libs/R-TypeLogic/EntityManipulation/CreateEntitiesFunctions/CreateButton.hpp
  libs/R-TypeLogic/Global/Components/LayerLvL.hpp
  libs/R-TypeLogic/Global/Systems/CMakeLists.txt
  libs/R-TypeLogic/Global/Systems/NoAfkInMenuSystem.cpp
  libs/R-TypeLogic/Global/Systems/NoAfkInMenuSystem.hpp
  tests/unit_tests/libs_tests/GameEntityManipulation_tests/CreateEntitiesFunctions_tests/CreateButton_tests.cpp
  tests/unit_tests/libs_tests/SFML_tests/GraphicsTextComponentTests.cpp
  tests/unit_tests/libs_tests/SFML_tests/Systems/InputManagement_tests.cpp
Labels: SFML, R-Type Game

#265 264 animate a player
  Client/ClientRoom.cpp
  libs/GraphicECS/SFML/Components/AnimationComponent.hpp
  libs/GraphicECS/SFML/Components/AnimationFrequencyComponent.hpp
  libs/GraphicECS/SFML/Resources/GraphicsTextureResource.hpp
  libs/GraphicECS/SFML/Systems/AnimationSystem.cpp
  libs/GraphicECS/SFML/Systems/DrawComponents.cpp
Labels: SFML

#267 266 improve animationsystem tests
  build_tests.sh
  libs/GraphicECS/SFML/Systems/AnimationSystem.cpp
  libs/GraphicECS/SFML/Systems/AnimationSystem.hpp
  libs/GraphicECS/SFML/Systems/DrawComponents.cpp
  tests/unit_tests/libs_tests/SFML_tests/Systems/AnimationSystem_tests.cpp
  tests/unit_tests/libs_tests/SFML_tests/Systems/CMakeLists.txt
Labels: SFML

#263 147 implement switch to room protocol
  Client/ClientRoom.cpp
  Client/ClientRoom.hpp
  Server/Room.cpp
  Server/Room.hpp
  Server/Server.cpp
  Server/Server.hpp
  Server/main.cpp
  libs/Communicator/Communicator.cpp
  libs/Communicator/Receiver.cpp
  libs/Communicator/Receiver.hpp
  tests/unit_tests/Transisthor_tests/Transisthor_tests.cpp
Labels: Network

#228 203 add sound in r type game
  libs/GraphicECS/SFML/Components/CMakeLists.txt
  libs/GraphicECS/SFML/Components/SoundName.hpp
  libs/GraphicECS/SFML/Resources/CMakeLists.txt
  libs/GraphicECS/SFML/Resources/SoundResource.cpp
  libs/GraphicECS/SFML/Resources/SoundResource.hpp
  tests/unit_tests/libs_tests/SFML_tests/CMakeLists.txt
  tests/unit_tests/libs_tests/SFML_tests/SoundComponentTests.cpp
Labels: Architecture, E.C.S., SFML, ECS Game Shared Resources, ECS Game Components

#274 270 improve drawcomponents system
  libs/GraphicECS/SFML/Systems/DrawComponents.cpp
  libs/GraphicECS/SFML/Systems/DrawComponents.hpp
Labels: SFML

#278 261 bug closing window event not properly handled
  libs/GraphicECS/SFML/Systems/InputManagement.cpp
  libs/GraphicECS/SFML/Systems/InputManagement.hpp
Labels: SFML
